<!-- sidebar-->
<div class="sidebar sideNav" id="mySidenav">
    <div class="nav-option">
      <div class="navigation">
        <a routerLink="/book" routerLinkActive="my-active" title="Dashboard">
          <div class="navIcon">  </div>
          <div id="op1">Books</div>
        </a>
        <a routerLink="/cart" routerLinkActive="my-active" title="Party">
          <div class="navIcon">  </div>
          <div id="op2">Cart</div>
        </a>
        <a routerLink="/user-books" routerLinkActive="my-active" title="Sales">
          <div class="navIcon">  </div>
          <div id="op4">User Books</div>
        </a>
      </div>
    </div>
  </div>
