.wrapper
{
  margin:0;
  height: 100%;
}
.content-wrap.active
{
  margin-left: 0px;
}
div.content-wrap {
  margin-left: 280px;
  padding: 50px 15px;
  height: 100%;
  transition: 0.5s;
}
.innerComponent
{
  margin-top: 45px;
  margin-bottom: 75px;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
}
@media screen and (max-width: 996px) {
  div.content-wrap
  {
    margin-left: 0px;
  }
  .innerComponent
  {
    padding-top: 0px;
    padding-bottom: 65px;
  }
}
